.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  margin-top: 3vh;
}

.nav-bar {
  display: flex;
  align-items: center;
}
.nav-bar > a {
  margin-right: 10px;
}

.logo-white-img {
  margin-right: 2vw;
  height: 40px;
  image-rendering: -webkit-optimize-contrast;
}
